body{background-color:black;
background-size: 100%;
font-family: 'Roboto Condensed', sans-serif;
font-size:15px;}



.tv {
background-color:white;
height:600px;
color: white;
margin: 40px 50px;
border:9px solid black;
border-radius:35px / 24px;}

nav{
height:150px;
}




.breakdown{float:left;
margin:40px 0 0 0 ;
font-size: 25px;
}

.breakdown h1{text-transform:uppercase;
}

.breakdown h2{font-variant:small-caps;
margin:0 10px 0 40px;
}


aside{
float:left;}

aside ol li a{
font-size: 25px;
text-decoration:none;
color:#CAD7B2;
padding:0 20px;
}

aside ol li a:hover{text-decoration:underline;
color:#A8CABA;}

.social ul{float:left;}


.Jordan{
font-family: 'Zeyada', cursive;
font-size:50px;
text-transform:uppercase;
color:#5D4157;
float:left;
border-right:solid 2px black;
padding-right:50px;
text-shadow:0 3px 0 #A8CABA;
}

.mainbody h1{margin:50px 20px 0 50px;
color:#5D4157;
#A8CABA;
font-size:40px;
text-shadow:0 3px 0 #A8CABA;
}

.mainbody img{
margin: 295px 5px 0 0;
height:150px;
width:200px;
float:right;}



